@model ForcedFriends.Models.Movie;

<h3>@Html.DisplayNameFor(m=> m.Title): @Html.DisplayFor(m=>m.Title)</h3>

<h3>@Html.DisplayNameFor(m=> m.Tagline): @Html.DisplayFor(m=>m.Tagline)</h3>

<h3>Release Date: @Html.DisplayFor(m=>m.Release_Date)</h3>

<img class="poster" src="https://image.tmdb.org/t/p/w1280/@Html.DisplayFor(m => m.Poster_Path)">

<h3>@Html.DisplayNameFor(m=> m.Overview): @Html.DisplayFor(m=>m.Overview)</h3>


@using (Html.BeginForm("AddMovie", "Movies"))
{
  @Html.HiddenFor(model => model.Id)
  <input type="submit" value="Add movie"/>
}

@*
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Category.Name</li>
    @*Wrapped the 'Delete Category' ActionLink in an if statement to only show the link if the user is authenticated and the 'owner' of the item
    @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
    {   
      @using (Html.BeginForm("DeleteCategory", "Items"))
      {
        @Html.Hidden("joinId", @join.CategoryItemId)
        <input type="submit" value="Delete"/>
      }
    }
  }
  *@
