@{
  Layout = "_Layout";
}
@model ApplicationUser
@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
  <div class="content-container">
    <div class="card">
      <div class="card-header"> 
        <p>Hello @User.Identity.Name, finish filling out your profile!</p>
      <div class="card-body">
        @using (Html.BeginForm())
        {
          <div class="form-group">
            @Html.HiddenFor(model => model.Id)
          </div>
          <div class="form-group">
            @Html.EditorFor(m => m.Name, new { htmlAttributes = new {@class= "form-control", type="text", placeholder = "Name", required = "required"}})
          </div>
          <div class="form-group">
            @Html.TextBoxFor(m => m.Birthday, new {@class= "form-control", type="date", placeholder = "Birthday", required = "required"})
          </div>
          <div class="form-group">
          @Html.EditorFor(m => m.Bio, new { htmlAttributes = new {@class= "form-control", placeholder = "Bio", required = "required"}})
          </div>
          <div class="form-group">
            <input type="submit" value ="Save" class="btn btn-primary">
            </div>
        }
        </div>
      </div>
    </div>
  </div>
}