@{
  Layout = "_Layout";
}
@using ForcedFriends.Models
@foreach(ApplicationUser user in Model)
{
  @if (@user.MatchCount > 2)
  {
    <div class="card" style="background-color:#CCFFFF">
      <div class="card-body">
        <div class="card-title">@Html.ActionLink($"{user.UserName}", "Details", new { id = user.Id})</div>
        <p class ="card-text"> Movie matches: @user.MatchCount</p>
      </div>
    </div>
  }
  else if(@user.MatchCount < 2 && @user.MatchCount > 0)
  {
    <div class="card" style="background-color:#CCCCFF">
      <div class="card-body">
        <div class="card-title">@user.UserName</div>
        <p class ="card-text"> Movie matches: @user.MatchCount</p>
      </div>
    </div>
  }
  else if(@user.MatchCount == 0)
  {
    <div class="card" style="background-color:#CCAAFF">
      <div class="card-body">
        <div class="card-title">*******</div>
        <div>You have no movie matches with this user!</div>
      </div>
    </div>
  }
}
